[submodule "bsp/stm32f10x/packages/pahomqtt-latest"]
	path = bsp/stm32f10x/packages/pahomqtt-latest
	url = git@github.com:seblee/paho.mqtt.embedded-c.git
[submodule "bsp/stm32f10x/cJSON"]
	path = bsp/stm32f10x/cJSON
	url = git@github.com:seblee/cJSON.git
[submodule "bsp/stm32f10x/packages/at_device-latest"]
	path = bsp/stm32f10x/packages/at_device-latest
	url = git@github.com:seblee/at_device.git
 [submodule "bsp/stm32f10x/packages/mbedtls-v2.6.0"]
	path = bsp/stm32f10x/packages/mbedtls-v2.6.0
	url = git@github.com:seblee/mbedtls.git
	
[submodule "bsp/stm32f10x/packages/i2c-tools"]
	path = bsp/stm32f10x/packages/i2c-tools
	url = https://github.com/wuhanstudio/rt-i2c-tools.git
